<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Log in</title>
        <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
        <link href="log-in.component.scss" rel="stylesheet">
    </head>

    <body class="text-center">
        <form action="" class="form">
            <div class="shape shape1"></div>
            <div class="shape shape2"></div>
            <div class="login login__form">
                <div class="container cont__login">
                    <input type="text" class="email input" name="email" placeholder="Username">
                    <input type="password" class="password input" name="password" placeholder="Password">
                    <button type="submit" class="btn btn__login">Log in</button>
                </div>

            </div>

            <div class="cta">
                <h2 class="cta__heading">Login!</h2>
                <p class="cta__text">to get full access to your account!</p>
            </div>
        </form>
        </main>
    </body>
</html>